@import '../tools/variable.scss';
@import '../tools/mixin.scss';

.choosethefloor {
    .module__choosethefloor {
        .module__content {
            .control {
                .bs-tab {
                    .tab-control {
                        margin-bottom: 3rem;

                        .control-list {
                            @include flexbox($justify:center);

                            .control-list__item {
                                height: 3.5rem;
                                line-height: 3.2rem;
                                text-align: center;
                                margin-left: 0;
                                padding: 0 1rem;
                                font-weight: bold;
                                margin: 0 1.5rem;
                                min-width: 100px;
                                border: 1px solid #949494;

                                &.active {
                                    border-color: $colorGreen;
                                }

                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}