@import '../tools/variable.scss';
@import '../tools/mixin.scss';

.slide__banner {
    overflow: hidden;

    .slick__banner {
        margin-bottom: 0;

        .slick-dots {
            position: absolute;
            bottom: 6%;

            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid #272727;
                background: $colorWhite;

                &.slick-active {
                    background: #b7b7b7;
                }

                button {
                    display: none;
                }
            }
        }

        .slide__item {
            overflow: hidden;
            outline: 0;

            .frame {
                &:before {
                    padding-top: 26.247%;
                }
            }

            img {
                width: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
}

.section-banner,
.section-products,
.section-blogs,
.section-services {
    .module {
        .module__content {
            .btn {
                &.btn__view {
                    padding: 0 1rem !important;
                    margin-bottom: unset;
                    font-weight: unset !important;
                    padding: unset;
                }
            }
        }
    }
}

.section-about-us .module__about_us .module__content li,
.module__blogs.module__blog__detail .module__content li {
    list-style: disc;
}

.module__blogs.module__blog__detail .module__content img {
    margin: 0 auto;
    display: block;
}

.slick_services {
    margin: 0 -15px;
}

.slick_services .item {
    padding: 0 15px;
}

.slick_services .slick-prev {
    left: -10px;
}

.slick_services .slick-prev {
    left: -10px;
}