@import '../tools/variable.scss';
@import '../tools/mixin.scss';

.pageProductDetail {
    padding-top: 5rem;

    .module__pageProductDetail {
        overflow: hidden;

        .module__header {
            padding-bottom: 2.5rem;
            border-bottom: 1px solid $colorBack;

            .title {
                color: $colorBack;
            }

        }

        .module__content {
            .product__detail {

                .product__title,
                .manufacturing {
                    font-size: 1.4rem;
                    color: $colorBack;
                    margin-bottom: 2rem;
                    line-height: 1;

                    span {
                        font-weight: bold;
                        font-size: 1.8rem;
                    }
                }

                .product__detail-header {
                    @include flexbox($align: unset);

                    .product__item {


                        .slick-arrow {



                            &.next__arrow {
                                right: -4%;
                            }

                            &.prev__arrow {
                                left: -4%;
                            }
                        }

                        &:first-child {
                            width: 44%;

                        }

                        &:last-child {

                            padding-left: 2.5rem;
                            flex: 1;
                        }

                        .product__box {



                            .product__avata {
                                .product__slide {
                                    .item {
                                        outline: 0;
                                        position: relative;

                                        img {
                                            width: 100%;
                                            height: 550px;
                                            object-fit: cover;

                                            &.img__2 {
                                                display: none;
                                            }
                                        }

                                        .btn {
                                            &.btn__zoom {
                                                position: absolute;
                                                top: 15px;
                                                right: 15px;
                                                width: 20px;
                                                height: 20px;
                                                min-width: unset;
                                                outline: unset;

                                                &:hover {
                                                    box-shadow: unset;
                                                }

                                                img {
                                                    object-fit: contain;
                                                    height: auto !important;

                                                }
                                            }
                                        }

                                        .control__zoom {
                                            position: absolute;
                                            bottom: 15px;
                                            right: 15px;
                                            padding: 0 5px;
                                            background: $colorGreen;
                                            border-radius: 5px;


                                            .btn {
                                                min-width: unset;
                                                color: #fff;
                                                font-size: 1.3rem;
                                                line-height: 20px;
                                                opacity: 0.5;

                                                +.btn {
                                                    margin-left: 10px;
                                                }

                                                &:hover {
                                                    opacity: 1;
                                                }

                                                &.active {
                                                    opacity: 1;
                                                }
                                            }

                                        }

                                    }
                                }
                            }

                            .productList {
                                .slider-nav {
                                    .item {
                                        outline: 0;

                                        &.slick-current {
                                            .slider__box {

                                                opacity: 1;
                                            }
                                        }

                                        .slider__box {
                                            margin: 0 0.4rem;
                                            border: 2px solid #5b3f2a;
                                            padding: 5px;
                                            border-radius: 0.5rem;
                                            cursor: pointer;
                                            opacity: 0.6;



                                            .frame {
                                                &:before {
                                                    padding-top: 89%;
                                                }
                                            }

                                            img {
                                                width: 100%;
                                                max-width: 100%;
                                                height: auto;
                                                max-width: auto;
                                                object-fit: cover;
                                                object-position: center center;
                                            }
                                        }
                                    }
                                }
                            }

                            .product__control {
                                margin: 1.5rem 0 2.5rem;
                                @include flexbox();

                                // .btn {

                                    button,
                                    .product__price {
                                        height: 3rem;
                                        line-height: 3rem;
                                        border: 1px solid red;
                                        text-transform: uppercase;
                                        color: $colorWhite;
                                        font-weight: bold;
                                        border-radius: 0;
                                        background: red;
                                        font-weight: bold;
                                        padding: 0 10px;

                                        &:focus {
                                            outline: none;
                                        }

                                        &:hover {
                                            border-color: $colorOrange;
                                            background-color: $colorOrange;
                                            color: $colorWhite;
                                            font-weight: bold;
                                        }

                                    }

                                    .product__price {
                                        margin-left: auto;
                                        background: $colorWhite;
                                        color: $colorBack;
                                        font-weight: bold;
                                        border-color: #8b8b8b;
                                    }
                                // }


                            }
                        }

                        .box__info {
                            border: 1px solid #8b8b8b;
                            padding: 0.7rem;

                            .bs-tab {
                                .tab-control {


                                    background-color: #ebebeb;
                                    border: 0;
                                    padding: 0.2rem;

                                    .control-list {
                                        @include flexbox();
                                        margin: 0;
                                        padding: 0;



                                        &::before {
                                            display: none;
                                        }

                                        .control-list__item {
                                            background-color: transparent;
                                            border-radius: 0;
                                            font-size: 1.6rem;
                                            color: $colorBack;
                                            line-height: 3.8rem;
                                            font-weight: unset;
                                            min-width: 21.3%;

                                            &.active,
                                            &:hover {
                                                box-shadow: unset;
                                                border: 0;
                                                background: $colorWhite;
                                                font-weight: unset;
                                            }

                                        }
                                    }
                                }

                                .tab-content {
                                    max-height: 630px;
                                    padding: 0 3rem;
                                    height: auto;
                                    overflow-y: auto;

                                    &::-webkit-scrollbar {
                                        width: 0.8rem;
                                    }

                                    /* Track */
                                    &::-webkit-scrollbar-track {
                                        background: #f1f1f1;
                                    }

                                    /* Handle */
                                    &::-webkit-scrollbar-thumb {
                                        background: $colorGreen;

                                        border-radius: 999px;
                                    }

                                    /* Handle on hover */
                                    &::-webkit-scrollbar-thumb:hover {
                                        background: #555;
                                    }

                                    .tab-item {
                                        .info__product {

                                            ul {
                                                margin: 0;
                                                padding: 0;

                                                li {
                                                    line-height: 4.1rem;
                                                    @include flexbox();
                                                    border-bottom: 1px solid $colorBack;

                                                    span {
                                                        width: 50%;

                                                        &:first-child {
                                                            font-weight: bold;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .overview {
                                            padding-top: 3rem;

                                            h3 {
                                                color: $colorGreen;
                                                text-transform: capitalize;
                                                border-bottom: 1px solid $colorGreen;
                                                padding-bottom: 0.5rem;
                                            }

                                            p {
                                                font-size: 13px;
                                                line-height: 26px;
                                                color: #6b6e70;
                                            }
                                        }
                                    }
                                }
                            }

                            .btn {
                                &.btn__dowload {
                                    background-color: $colorGreen;
                                    color: $colorWhite;
                                    font-weight: bold;
                                    font-size: 1.4rem;
                                    border-radius: 0;
                                    height: 3rem;
                                    line-height: 3rem;
                                    margin-top: 3rem;
                                    margin-left: 3rem;
                                    margin-bottom: 1.3rem;
                                    padding: 0 10px;
                                }
                            }
                        }
                    }

                    .modal {
                        .modal-content {
                            border-radius: 1.5rem;
                            overflow: hidden;

                            .slick-arrow {
                                opacity: 0.5;
                                background-color: #000;
                                color: #fff;
                                padding: 5px;

                                &:hover {
                                    opacity: 0.8;
                                }

                                &:focus {
                                    box-shadow: unset;
                                }

                                &.next__arrow {
                                    right: 0;
                                }

                                &.prev__arrow {
                                    left: 0;
                                }
                            }

                            .item {
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                    height: 500px;

                                }
                            }
                        }

                        #module__detail{
                            &.active{
                                .img__1{
                                    display: none;
                                }
                                .img__2{
                                    display: block;
                                }
                            }
                            .img__2{
                                display: none;
                            }
                            .img__1{
                                display: block;
                            }
                        }


                        .title {
                            padding: 3rem;
                            text-transform: uppercase;
                        }

                        .btn__close {
                            min-width: auto;
                            position: absolute;
                            right: 1rem;
                            z-index: 99;
                            top: 1rem;

                            img {
                                max-width: 100%;
                                height: auto;
                                max-height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .facebook {
                    margin-top: 5rem;
                }
            }
        }
    }
}