@import '../tools/variable.scss';
@import '../tools/mixin.scss';

.pageproduct {
    padding-top: 5rem;

    .pageproduct__module {
        .module__header {
            .title {
                color: $colorBack;
            }
        }
    }
}