@import '../tools/variable.scss';
@import '../tools/mixin.scss';

.page__cart {
    padding: 5rem 0;

    .module__cart {
        .module__header {
            padding-bottom: 2.5rem;
            border-bottom: 1px solid #000;

            .title {
                color: #000;
                margin-bottom: 0;
            }
        }

        .module__content {
            .cart__form {
                max-width: 500px;

                .cart__title {
                    color: $colorGreen;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 3rem;

                }

                .form-group {
                    margin-bottom: 1.5rem;



                    .form-control {
                        border-radius: 0;
                        height: 3rem;

                        &.form__textarea {
                            min-height: 15rem;
                        }
                    }
                }

                .btn {
                    &.btn__cart {
                        margin-top: 1rem;
                        background: $colorGreen;
                        color: $colorWhite;
                        height: 3rem;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }

            .cart__info {
                background: #ebebeb;
                max-width: 570px;
                padding: 1.5rem;

                .cart__info--title {
                    text-transform: uppercase;
                    color: $colorBack;
                    font-size: 2rem;

                }

                .cart__body {
                    .table {
                        border: 0;
                        margin-bottom: 3rem;

                        thead {
                            tr {
                                th {
                                    color: $colorBack;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    font-size: 1.4rem;
                                    border-bottom: 1px solid $colorBack;
                                    border-top: none;
                                    padding: .75rem;
                                }
                                .product-total {
                                    text-align: right;
                                }
                            }

                        }

                        tbody {
                            tr {
                                td {
                                    font-size: 1.4rem;
                                    border-bottom: 1px solid $colorBack;
                                    border-top: none;
                                    padding: .75rem;
                                }
                                .product-total {
                                    text-align: right;
                                }
                            }
                        }

                        tfoot {
                            tr {
                                td, th {
                                    font-size: 1.4rem;
                                    border-bottom: 1px solid $colorBack;
                                    border-top: none;
                                    padding: .75rem;
                                }
                                td {
                                    text-align: right;
                                }
                            }
                        }
                    }

                    .btn {
                        &.btn__cart {
                            background: $colorGreen;
                            color: $colorWhite;
                            height: 3rem;
                            padding: 0 0.5rem;
                            border-radius: 0;
                            line-height: 3rem;
                            font-weight: bold;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}