@import "../tools/variable.scss";
@import "../tools/mixin.scss";

@media (min-width: 1200px) {
    #header {
        &.scrolled {
            transition: 0.5s all;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            box-shadow: 0px 3px 10px 5px #0000001f;
            padding: 1rem 0.8rem;

            .header__group {
                .group__item {
                    .logo {
                        width: 60px;
                        transition: 0.5s all;
                    }

                    .header__menu {
                        .menu {
                            li {
                                a {
                                    padding: 1rem 0.8rem;
                                    transition: 0.5s all;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }

    .module__blogs__relate,
    .module__blogs {
        .slick-arrow {
            color: #000;

            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }
    }

    .pageProductDetail {
        .module__pageProductDetail {
            .module__content {
                .product__detail {
                    .product__detail-header {
                        .product__item {
                            .box__info {
                                .bs-tab {
                                    .tab-control {
                                        .control-list {
                                            .control-list__item {
                                                padding: 0.5rem 0.5rem;
                                                line-height: 2rem;
                                                min-width: 19%;
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product {
        .product__content {
            .product__control {
                .product__title {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }

    .module__about_us_galary {
        margin-bottom: 20px;
    }

    .module__services .groups_box .item {
        width: calc(100% / 2);
    }

    .module__products .item {
        width: calc(100% / 3);
    }

    .tab_header {
        .tab_products {
            margin: 0 -15px;

            li {
                padding: 0 15px;
            }
        }
    }

    .slick_testimonials {
        padding: 0;
    }

    .module__blogs__list {
        .groups_box {
            .item {
                width: 50%;
            }
        }
    }

    .module__contacts_services,
    .module__address {
        margin-bottom: 30px;
    }

    .open__fixed {
        overflow: hidden;
    }

    #header {
        padding: 0.5rem 0;

        .header__group {
            &.active {
                .group__item {
                    .header__top {
                        .top__item {
                            .search {
                                transition: 0.3s all;
                                transform: translateX(0);
                            }

                            .language {
                                opacity: 1;
                                transition: 0.3s all;
                                visibility: visible;
                            }

                            .btn__back {
                                display: inline-block;
                            }
                        }
                    }

                    .menu__container {
                        transition: 0.3s all;
                        visibility: visible;
                        opacity: 1;

                        .header__menu {
                            transition: 0.3s all;
                            transform: translateX(0);
                        }
                    }
                }
            }

            .group__item {
                .logo {
                    width: 50px;
                    margin-bottom: 0;
                }

                .header__top {
                    .top__item {
                        .search {
                            position: fixed;
                            top: 0;
                            left: 0;
                            padding: 0.5rem;
                            max-width: 290px;
                            z-index: 9999;
                            background: #fff;
                            margin-left: 0;
                            box-shadow: -3px 2px 4px 0px #ececec;
                            transition: 0.3s all;
                            transform: translateX(-100%);

                            .form {
                                border-radius: 999px;
                                border: 1px solid $colorOrange;
                                overflow: hidden;
                                max-width: 169px;

                                .input__search {
                                    border: 0;
                                    padding-left: 1rem;
                                    width: 80%;
                                }

                                .btn__search {
                                    background-color: $colorWhite;
                                    color: $colorOrange;
                                }
                            }
                        }

                        .language {
                            padding: 0 3rem;
                            position: fixed;
                            top: 10px;
                            left: 152px;
                            z-index: 99999;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s all;

                            .language__text {
                                font-size: 1.3rem;

                                &:last-child {
                                    margin-left: 1rem;
                                }
                            }
                        }

                        .society {
                            display: none;
                        }

                        .btn__back {
                            position: fixed;
                            z-index: 99999;
                            font-size: 2rem;
                            color: red;
                            top: 7px;
                            left: 259px;
                            min-width: unset;
                            width: 3rem;
                            visibility: visible;

                            &:focus {
                                box-shadow: unset;
                            }
                        }

                        .btn__menu {
                            display: inline-block;
                            font-size: 2.5rem;
                            min-width: unset;
                            margin-left: 3rem;

                            &:focus {
                                box-shadow: unset;
                            }
                        }

                        .hotline {
                            display: none;
                        }
                    }
                }

                .menu__container {
                    z-index: 999;
                    position: fixed;
                    margin-top: 0;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.55);
                    height: 100%;
                    bottom: 0;
                    right: 0;
                    transition: 0.3s all;
                    visibility: hidden;
                    opacity: 0;

                    .header__menu {
                        position: fixed;
                        top: 42px;
                        left: 0;
                        width: 290px;
                        background: #fff;
                        margin-top: 0;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        height: 100%;
                        transform: translateX(-100%);

                        .menu {
                            height: auto;
                            overflow: auto;

                            li {
                                width: 100%;
                                position: relative;
                                // border-bottom: 1px solid #e8e8e8;

                                &:hover {
                                    a {
                                        background: unset;
                                        color: $colorOrange;
                                    }

                                    .omega__menu {
                                        transition: unset;
                                    }
                                }

                                a {
                                    display: block;
                                    color: $colorBack;
                                    font-size: 13px;
                                    width: 100%;
                                    height: 100%;
                                    padding: 0.5rem 1rem 0.5rem 1.5rem;
                                    padding-right: 20px;
                                    text-transform: capitalize;
                                    font-weight: 100;
                                    position: relative;
                                    max-width: 100%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }

                                // .omega__menu {
                                //     display: none;
                                //     transition: unset;
                                //     position: unset;
                                //     padding: 0.5rem 2rem;
                                //     visibility: visible;
                                //     opacity: 1;
                                //     margin-top: 0;
                                //     margin-bottom: 0;

                                //     .omeaga__container {
                                //         .omega__item {
                                //             width: 100%;
                                //             margin-bottom: 0.5rem;

                                //             .omega__list {
                                //                 width: 100%;
                                //                 max-width: 100%;

                                //                 .title {
                                //                     width: 100%;
                                //                     font-size: 1.2rem;
                                //                     text-align: left;
                                //                     padding-left: 0;
                                //                     margin-bottom: 0;

                                //                     .title__link {
                                //                         display: block;
                                //                         max-width: 100%;
                                //                         text-align: left;
                                //                     }
                                //                 }

                                //                 ul {
                                //                     li {
                                //                         a {
                                //                             font-size: 1.3rem;
                                //                             color: $colorBack;
                                //                             padding: 0 1rem;
                                //                             line-height: 2rem;
                                //                         }
                                //                     }
                                //                 }
                                //             }

                                //             .product {
                                //                 max-width: 100%;
                                //                 flex: unset;
                                //                 margin-left: 0;
                                //                 margin-top: 1rem;
                                //                 margin-bottom: 0;

                                //                 img {
                                //                     margin-left: 0;
                                //                 }
                                //             }

                                //             &:nth-child(2n) {
                                //                 justify-content: flex-start;

                                //                 &:before {
                                //                     display: none;
                                //                 }
                                //             }
                                //         }
                                //     }
                                // }

                                .toogleMenu {
                                    display: inline-block;
                                    position: absolute;
                                    right: 0;
                                    min-width: unset;
                                    width: 3rem;
                                    height: 3.5rem;
                                    line-height: 3.5rem;
                                    top: 0;
                                    font-size: 2rem;

                                    &:focus {
                                        box-shadow: unset;
                                    }

                                    i {
                                        transition: 0.5s all;

                                        &.active {
                                            transition: 0.5s all;
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }
                            li {
                                a {
                                    img {
                                        display: block;
                                        position: relative;
                                        max-width: 100%;
                                        padding: 0;
                                        right: auto;
                                    }
                                }
                            }

                            >li {
                                .sub-menu {
                                    position: relative;
                                    padding: 2rem;
                                    display: inline-block;
                                    width: 100%;

                                    ul {
                                        padding: 0;
                                    }
                                }

                                >ul {
                                    >li {
                                        &:first-child {
                                            border-right: none;
                                            padding-bottom: 0;

                                            img {
                                                right: auto;
                                            }
                                        }

                                        &:nth-child(2) {
                                            padding-left: 0;
                                        }

                                        ul a {
                                            padding: 0;
                                        }

                                        >a {
                                            padding: 0;
                                            span {
                                              margin-bottom: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .mobile {
                            padding: 2rem;
                            @include flexbox($justify: space-between);

                            .hotline {
                                margin-bottom: 0;
                                color: $colorGreen;
                                text-transform: uppercase;
                                font-size: 1.4rem;
                                font-weight: bold;
                                margin-bottom: 0rem;

                                a {
                                    color: $colorGreen;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #header .header__group .group__item .menu__container .header__menu .menu > .tamgiac {
      a {
        display: inline-block;
        width: auto;
        margin-bottom: -5px;
      }
      .sub-menu {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: 0;
        top: 10px;
        right: 10px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg);
      }
      &:after {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: calc(100% - 40px);
        background: #ebebeb;
        content: "";
        left: 0;
        top: 40px;
      }
    }

    #footer {
        .footer__group {
            .footer__item {
                width: 50%;
            }
        }
    }

    .pageProductDetail {
        .module__pageProductDetail {
            .module__content {
                .product__detail {
                    .product__detail-header {
                        .product__item {
                            &:first-child {
                                width: 100%;
                            }

                            &:last-child {
                                padding-left: 0;
                                margin-top: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .slide__banner {
        .slick__banner {
            .slide__item {
                .frame {
                    &::before {
                        padding-top: 40%;
                    }
                }
            }
        }
    }

    .choosethefloor,
    .section__porduct {
        .module {
            .module__header {
                .title {
                    padding-left: 6rem;

                    &:before {
                        width: 20%;
                    }
                }

                .control {
                    .bs-tab {
                        .tab-control {
                            .control-list {
                                .control-list__item {
                                    margin-left: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination {
        justify-content: center;
    }

    #footer {
        .footer__group {
            .footer__item {
                &:first-child {
                    padding-right: 1.5rem;
                }
            }
        }
    }

    .back-top {
        bottom: 95px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }

    .dg-wrapper,
    .dg-wrapper a {
        width: 300px;
        height: 300px;
    }

    .dg-wrapper {
        -o-perspective: 200px;
        -ms-perspective: 200px;
        -webkit-perspective: 200px;
        perspective: 200px;
    }

    .module__products {
        .tab_header {
            display: block;
        }

        .item {
            width: calc(100% / 2);
        }
    }

    .tab_header .tab_products {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .module__features .item {
        width: 100%;
    }

    .module__blogs__list {
        .groups_box {
            .item {
                width: 100%;
            }
        }

        .blog_item {
            .item_images {
                img {
                    width: 100%;
                }
            }
        }
    }

    .module__services.module__service__detail .groups_box .item {
        width: 50%;
    }

    #footer {
        .footer__group {
            .footer__item {
                text-align: center;
                width: 100%;
                margin: auto;
            }
        }

        .footer__menu {
            @include flexbox($justify: flex-start);

            .menu-item {
                a {
                    margin-left: 1rem;
                }
            }
        }
    }

    .page__cart {
        .module__cart {
            .module__content {
                .cart__form {
                    margin-bottom: 5rem;
                }
            }
        }
    }

    .slide__banner {
        .slick__banner {
            .slide__item {
                .frame {
                    &::before {
                        padding-top: 50%;
                    }
                }
            }
        }
    }

    .choosethefloor,
    .section__porduct {
        .module {
            .module__header {
                justify-content: center;

                .title {
                    padding-left: unset;
                    padding: 0 0.5rem;
                    background: #fff;

                    &:before {
                        width: 150%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        max-width: unset;
                        z-index: -1;
                    }
                }

                .control {
                    .bs-tab {
                        .tab-control {
                            .control-list {
                                .control-list__item {
                                    margin-left: 1rem;
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .container {
        max-width: 450px;
    }

    .module__header .title {
        font-size: 20px;
    }

    .dg-wrapper,
    .dg-wrapper a {
        width: 280px;
        height: 280px;
    }

    .dg-wrapper {
        -o-perspective: 150px;
        -ms-perspective: 150px;
        -webkit-perspective: 150px;
        perspective: 150px;
    }

    .homeService,
    .homeProduct,
    .homecustomer,
    .pageproduct,
    .pageProductDetail,
    .samekind {
        .module {
            .module__header {
                margin-bottom: 3rem;

                .title {
                    font-size: 2rem;
                }
            }
        }
    }

    .pageproduct {
        padding-top: 3rem;
    }

    .product {
        .product__content {
            .product__control {
                .product__title {
                    width: 50%;
                }
            }
        }
    }

    .bs-tab {
        .tab-control {
            .control__show {
                width: 100%;
                background: $colorGreen;
            }

            .control-list {
                background-color: #fff;
            }
        }
    }

    .pageProductDetail {
        .module__pageProductDetail {
            .module__content {
                .product__detail {
                    .product__detail-header {
                        .product__item {
                            .box__info {
                                .bs-tab {
                                    .tab-control {
                                        .control-list {
                                            .control-list__item {
                                                min-width: 100%;
                                                text-align-last: left;
                                            }
                                        }
                                    }

                                    .tab-content {
                                        padding: 1.5rem;
                                    }
                                }
                            }

                            .box__info {
                                .btn {
                                    &.btn__dowload {
                                        margin-top: 1.5rem;
                                        margin-left: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .choosethefloor,
    .section__porduct {
        .module {
            .module__header {
                .control {
                    .bs-tab {
                        .tab-control {
                            .control-list {
                                position: unset;
                                transform: unset;
                                box-shadow: unset;
                                white-space: unset;

                                .control-list__item {
                                    margin-bottom: 1rem;
                                    margin-bottom: 0.5rem;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 479.98px) {

    .dg-wrapper,
    .dg-wrapper a {
        width: 200px;
        height: 200px;
    }

    .dg-wrapper {
        -o-perspective: 100px;
        -ms-perspective: 100px;
        -webkit-perspective: 100px;
        perspective: 100px;
    }

    .module__services .groups_box .item {
        width: 100%;
    }

    .tab_header {
        .tab_products {
            margin: 0 -8px;

            li {
                padding: 0 8px;
            }
        }
    }

    .module__products .item {
        width: 100%;
    }

    .product_item .item_images {
        img {
            width: 100%;
        }
    }

    .module__services.module__service__detail .groups_box .item,
    .section-contacts .module__contacts .groups_box .form-group {
        width: 100%;
    }

    .pageProductDetail {
        .module__pageProductDetail {
            .module__content {
                .product__detail {
                    .product__detail-header {
                        .product__item {
                            .product__box {
                                .product__avata {
                                    .product__slide {
                                        .item {
                                            img {
                                                height: auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .modal {
                            .modal-content {
                                .item {
                                    img {
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}