@import '../../tools/variable.scss';
@import '../../tools/mixin.scss';

#footer {
    background-image: url('../images/bg__footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 5rem;
    padding-bottom: 3rem;

    .footer__group {
        @include flexbox($align:unset);

        .footer__item {
            &:first-child {
                max-width: 400px;
            }

            &:last-child {
                max-width: 500px;
                margin-left: auto;
            }

            .logo {
                .logo__link {
                    max-width: 170px;
                    display: inline-block;

                    img {
                        max-width: 100%;
                        object-fit: contain;
                    }
                }

                margin-bottom: 4rem;
            }

            .item__text {
                color: $colorWhite;
                margin-bottom: 2rem;
            }

            .footer__title {
                color: $colorWhite;
                text-transform: uppercase;
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }

            .footer__form {
                .form-group {
                    margin-bottom: 2rem;

                    .control__input,
                    .control__textarea {

                        background: transparent;
                        color: $colorWhite;
                        font-size: 1.4rem;
                        padding: 0 1rem;

                        &::placeholder {
                            color: $colorWhite;
                        }
                    }

                    .control__input {
                        height: 3.5rem;

                        line-height: 3.5rem;
                    }

                    .control__textarea {
                        padding-top: 1rem;
                        min-height: 9rem;
                    }
                }

                .btn {
                    &.btn__save {
                        background: $colorWhite;
                        color: $colorBack;
                        height: 3.5rem;
                        font-size: 1.4rem;
                        min-width: 100px;
                        line-height: 3.5rem;
                        padding: 0;
                        border: 0;
                        margin-top: 3rem;
                    }
                }
            }
            .footer__society{
                margin-top: 3rem;
                @include flexbox();
                .society__item{
                    display: inline-block;
                    margin-right: 1rem;
                    width: 3rem;
                    height: 3rem;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .footer__menu{
        @include flexbox($justify:space-between);
        border-top: 1px solid rgba(206, 206, 206, 0.24);
        margin: 3rem 0 0 0;
        padding:3rem 0 0 0;
        .menu-item{
            a{
                display: inline-block;
                color: $colorWhite;
                text-transform: uppercase;
                &:hover{
                    color: $colorOrange;

                }
            }
        }
    }
}

.back-top {
    background: rgba(0, 88, 71, 0.28);
    color: $colorWhite;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    visibility: hidden;
    &:focus {
        outline: 0;
    }
    &:hover{
        background-color: $colorGreen;
    }
    &.active{
        visibility: visible;
    }
}