@import '../../tools/variable.scss';
@import '../../tools/mixin.scss';

#header {
    background: $colorWhite;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    transition: 0.5s all;

    .header__group {
        position: relative;
        @include flexbox();

        .group__item {
            &:first-child {

                max-width: 8rem;
            }

            &:last-child {
                flex: auto;
                margin-left: 5rem;
            }

            .logo {
                width: 80px;
                transition: 0.5s all;

                .logo__link {
                    display: inline-block;

                    img {
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .header__top {
                @include flexbox();

                .top__item {
                    @include flexbox($justify:flex-end);
                    font-size: 1.4rem;
                    font-weight: bold;

                    &:last-child {

                        flex: auto;
                    }

                    .hotline {
                        color: $colorGreen;
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        margin: 0;

                        a {
                            color: $colorGreen;
                        }

                    }

                    .search {
                        margin-left: 1.5rem;
                        max-width: 200px;
                        width: 100%;

                        .form {
                            @include flexbox();

                            .input__search {
                                width: 83%;
                                height: 3rem;
                                font-size: 1.4rem;
                                outline: 0;
                                border-radius: 0;
                                border-color: #949494;
                                padding-top: 0;
                                padding-bottom: 0;
                                line-height: 3rem;

                                &:focus {
                                    box-shadow: unset;
                                    border-color: unset;
                                }
                            }

                            .btn__search {
                                width: 3.2rem;
                                background: #363636;
                                color: $colorWhite;
                                font-size: 1.4rem;
                                border-radius: 0;
                                height: 3rem;
                                line-height: 3rem;
                                outline: 0;
                                min-width: unset;


                                &:focus {
                                    outline: 0;
                                    box-shadow: unset;
                                }
                            }
                        }
                    }

                    .cart {
                        @include flexbox();
                        color: $colorBack;
                        max-width: 115px;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        border: 1px solid #949494;
                        padding: 0.25rem .5rem;
                        position: relative;

                        &:hover {
                            transition: 0.3s all;
                            color: $colorOrange;
                            border-color: $colorOrange;

                            .cart__icon {
                                img {
                                    &.icon__image {
                                        display: none;
                                    }

                                    &.icon__image_hover {
                                        display: inline-block;
                                    }
                                }
                            }
                        }

                        .cart__icon {

                            display: inline-block;
                            margin-top: -0.6rem;
                            margin-right: 0.7rem;

                            img {
                                max-width: 100%;
                                object-fit: contain;

                                &.icon__image_hover {
                                    display: none;
                                }
                            }
                        }

                        .cart__name {
                            display: inline-block;
                        }

                        .cart__number {
                            position: absolute;
                            left: -0.4rem;
                            top: -1rem;
                            min-width: 2rem;
                            text-align: center;
                            height: 2rem;
                            color: $colorWhite;
                            background: red;
                            border-radius: 100%;
                            line-height: 2rem;
                            font-size: 1.2rem;
                        }
                    }

                    .language {
                        padding: 0 3rem;

                        // .language__text {
                        //     color: #666;
                        //     font-size: 1.4rem;
                        //     display: inline-block;

                        //     &:last-child {
                        //         position: relative;
                        //         margin-left: 1.5rem;
                        //     }

                        //     &:hover,
                        //     &.active {
                        //         color: $colorBack;
                        //     }
                        // }
                        li {
                            float: left;
                            a {
                                position: relative;
                                width: 35px;
                                display: inline-block;
                                font-size: 0;
                                &:after {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 99;
                                    background: #fff;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    color: #666;
                                }
                                &:hover {
                                    color: $colorBack;
                                    &:after {
                                        color: $colorBack;
                                    }
                                }
                            }
                        }
                        .current-lang a:after {
                            color: $colorBack;
                        }
                        .lang-item-vi a:after {
                            content: "vn";
                        }
                        .lang-item-en a:after {
                            content: "eng";
                        }
                    }

                    .society {
                        .society__link {
                            display: inline-block;

                            &+.society__link {
                                padding-left: 1.5rem;
                            }

                            img {
                                max-width: 100%;
                                max-height: 100%;
                                object-fit: contain;
                            }

                            &:hover {
                                opacity: 0.7;
                                transition: 0.3s all;
                            }
                        }
                    }

                    .btn__menu,
                    .btn__back {
                        display: none;
                    }
                }
            }

            .header__menu {
                margin-top: 1rem;

                .menu {
                    @include flexbox($justify:space-between);
                    padding: 0;
                    margin: 0;
                    li {
                        .btn {
                            &.toogleMenu {
                                display: none;
                            }
                        }
                        a {
                            color: #333;
                            display: inline-block;
                            text-transform: uppercase;
                            padding: 1.5rem 0.8rem;
                            transition: 0.5s all;
                            img {
                                display: none;
                                position: absolute;
                                top: 0;
                                right: 0;
                                max-width: 200px;
                            }
                        }
                        &:hover > a {
                            background: #ebebeb;
                            color: $colorOrange;
                        }
                    }
                    > li {
                        > ul {
                            position: absolute;
                            background: #ebebeb;
                            width: 100%;
                            z-index: 1;
                            top: 100%;
                            left: 0;
                            padding: 3rem;
                            display: none;
                            > li {
                                float: left;
                                width: 50%;
                                display: inline-block;
                                position: relative;
                                ul {
                                    padding: 0;
                                    a {
                                        text-transform: capitalize;
                                        padding: 1rem .8rem;
                                        span {
                                            padding: 0;
                                        }
                                    }
                                }
                                > a {
                                    padding: 0 .8rem 1.5rem;
                                    span {
                                        border-bottom: 1px solid #000;
                                        padding: 10px;
                                        font-weight: 700;
                                        display: block;
                                    }
                                    > img {
                                        display: block;
                                    }
                                }
                                &:first-child {
                                    border-right: 1px solid #000;
                                    padding-bottom: 5rem;
                                    img {
                                        right: 20%;
                                    }
                                }
                                &:nth-child(2) {
                                    padding-left: 10%;
                                }
                                a:hover img {
                                    display: block;
                                }
                            }
                        }
                        &:hover .sub-menu {
                            display: block;
                        }
                    }
                }

                .mobile {
                    display: none;
                }
            }
        }
    }
}



//tiep
#header .header__group .group__item .header__menu .menu {

}

