@import '../../tools/variable.scss';
@import '../../tools/mixin.scss';

.product {
    margin-bottom: 5rem;

    &:hover {
        .product__avata {
            transition: 0.3s all;
            opacity: 0.8;
        }

        .product__content {
            .product__control {
                .product__title {
                    .product__link {
                        color: $colorOrange;

                    }
                }

                .time {
                    color: #000;
                }
            }

            .product__footer {
                .btn {
                    &.btn__link {

                        color: $colorOrange;
                        border-color: $colorOrange;
                    }


                }

                .product__price {
                    color: $colorBack;
                }
            }
        }
    }

    .product__avata {
        .frame {
            border: 1px solid #ccc;
            ;

            &:before {
                padding-top: 114.29%;
            }

            .frame--image {
                width: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: top;
            }


        }
    }

    .product__content {
        .product__control {
            @include flexbox();
            margin: 1rem 0;

            .product__title {
                font-size: 1.4rem;
                font-weight: bold;
                width: 65%;
                margin-bottom: 0;

                .product__link {
                    display: block;
                    color: $colorGreen;
                    text-transform: uppercase;
                    max-width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding-right: 0.5rem;
                }
            }

            .time {
                margin-left: auto;
                color: #666666;
                font-size: 1.4rem;
            }
        }

        .product__desc {
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: $colorBack;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;

        }

        .product__footer {
            @include flexbox();

            .btn {
                &.btn__link {
                    border-radius: 0;
                    color: $colorGreen;
                    font-size: 1.4rem;
                    border: 1px solid $colorGreen;
                }
            }

            .product__price {
                margin-left: auto;
                color: #666666;
                font-weight: bold;
            }
        }
    }
}

