@import '../../tools/variable.scss';
@import '../../tools/mixin.scss';

.samekind {
    padding-top: 5rem;

    .module__samekind {
        .module__header {
            .title {
                text-align: left;
                color: $colorBack;
            }
        }

        .module__content {
            .samekind__slide {
                .samekind__slick {
                    .slick-arrow {
                        top: 33%;

                        &:focus {
                            box-shadow: unset;
                        }

                        &.next__arrow {
                            right: -1.2rem;
                        }

                        &.prev__arrow {
                            left: -1.2rem;
                        }

                        &.slick-disabled {
                            opacity: 0.3;
                        }
                    }

                    .item {
                        outline: 0;

                        .item__box {
                            margin: 0 1.5rem;
                        }
                    }
                }
            }
        }
    }
}