//cart
.woocommerce div.product {
    margin-bottom: 5rem;
}
.woocommerce div.product form.cart {
    margin-bottom: 0;
}
.page__cart {
    .woocommerce {
        .cart-empty {
            display: none;
        }
    }
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background: #f7941d;
    &:hover {
        background: #005847;
    }
}

//checkout
.woocommerce-checkout {
    .page__cart {
        .woocommerce-checkout {
            .col2-set {
                .col-1, .col-2 {
                    width: 100%;
                    float: none;
                    max-width: 100%;
                    padding: 0;
                }
            }
            label, span {
                width: 100%;
            }
            input, textarea {
                border: 1px solid #ced4da;
                color: #495057;
                border-radius: 0;
                padding: .375rem .75rem;
            }
            label {
                span {
                    display: none;
                }
            }
        }
    }
}
#billing_country_field, #billing_city_field {
    display: none !important;
}
.woocommerce-account-fields, .wc_payment_methods, .woocommerce-form-coupon-toggle, .woocommerce-terms-and-conditions-wrapper {
    display: none;
}

//after checkout
section.woocommerce-order-details, section.woocommerce-customer-details, .woocommerce-thankyou-order-details {
    display: none;
}
.woocommerce-order > p:nth-child(3) {
    display: none;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    background: #f7941d;
    &:hover {
        background: #005847;
    }
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}

//translate notice (and file wc php)
.woocommerce-message a {
    // position: relative;
    display: block;
}
.wc_undo {
    color: #515151;
}
.wc_delete_undo {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 100px;
        height: 22px;
        background: #f7f6f7;
        z-index: 1;
    }
}
#language-en {
    .wc_updated, .wc_delete_undo, .wc_undo, .wc_field_checkout, .wc_invalid_email, .wc_field_email, .wc_empty_cart, .wc_empty_session {
        position: relative;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #f7f6f7;
            color: #515151;
            z-index: 1;
        }
    }
    .wc_updated:after {
        content: "Update cart successfully!";
        width: 300px;
    }
    .wc_delete_undo:after {
        content: "Delete successfully!";
        width: 300px;
    }
    .wc_undo:after {
        content: "Undo.";
        width: 98px;
    }
    .wc_field_checkout:after {
        content: "The field is required!";
        width: 300px;
    }
    .wc_invalid_email:after {
        content: "The e-mail address entered is invalid!";
        width: 300px;
    }
    .wc_field_email:after {
        content: "Your email addresses do not match !";
        width: 300px;
    }
    .wc_empty_cart:after {
        content: "Your cart is currently empty!";
        width: 300px;
        background: #ffffff;
    }
    .wc_empty_cart_checkout:after {
        content: "Checkout is not available whilst your cart is empty!";
        width: 400px;
    }
    .wc_empty_session:after {
        content: "Sorry, your session has expired!";
        width: 300px;
    }
    #order_review {
        thead .product-name, thead .product-total, tfoot .order-total th {
            position: relative;
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: .75rem;
                background: #ebebeb;
                z-index: 1;
            }
        }
        thead .product-name:after {
            content: "Product";
        }
        thead .product-total:after {
            content: "Provisional";
        }
        tfoot .order-total th:after {
            content: "Total";
        }
        #place_order:after {
            content: "Submit";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 9px 0 0;
            background: #f7941d;
            z-index: 1;
        }
    }
}
.woocommerce form .form-row.woocommerce-invalid label {
    color: #000;
}
// .woocommerce-cart .woocommerce .return-to-shop .button.wc-backward {
//     display: none;
// }