@font-face {
    font-family: 'regular';
    src: url('../fonts/SVN-Helvetica Neue Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/SVN-Helvetica Neue Bold.ttf');
    font-display: swap;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: #000;
    font-family: 'regular';
    line-height: 1.7;
    background-color: #fff;
}