.frame {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        padding-top: 50%;
    }

    .frame--image,
    .frame--iframe {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}