@mixin flexbox($align:center, $justify:flex-start, $wrap:wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin absolute($dir:"left__center") {
    position: absolute;

    @if $dir=="top__center" {
        top: 50%;
        transform: translateY(-50%);
    }

    @if$dir=="left__center" {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $dir=="center" {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @if $dir=="left" {
        left: 0;
        top: 0;
    }

    @if $dir=="right" {
        right: 0;
        top: 0;
    }
}

@mixin textlimit($number:3, $lineheight:2.4rem) {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: $lineheight;
    -webkit-line-clamp: $number;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}