
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SVN-HelveticaNeue";
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.otf") format("opentype"), /* Open Type Font */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.svg") format("svg"), /* Legacy iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
font-display: swap;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SVN-HelveticaNeue";
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.otf") format("opentype"), /* Open Type Font */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.svg") format("svg"), /* Legacy iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeue.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
font-display: swap;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SVN-HelveticaNeue";
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.otf") format("opentype"), /* Open Type Font */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.svg") format("svg"), /* Legacy iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700;
font-display: swap;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SVN-HelveticaNeueHeavy";
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.otf") format("opentype"), /* Open Type Font */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.svg") format("svg"), /* Legacy iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.woff") format("woff"), /* Modern Browsers */
    url("../../fonts/SVN-HelveticaNeue/SVN-HelveticaNeueHeavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
font-display: swap;
}