@import 'variable.scss';
@import 'mixin.scss';
#tool__society{
    position: fixed;
    bottom: 58px;
    right: 10px;
    z-index: 9999;
    .tool__item{
        display: flex;
        flex-direction: column;
        .tool__icon{
            display: inline-block;
            width: 48px;
            height: 48px;
            margin-bottom: 25px;
            border-radius: 50%;
            animation: zoom 1s infinite;
            animation-direction: alternate-reverse;
            // background-color: #fff;
            
            img{
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}

@keyframes zoom{
    from {
        box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 0px, rgba(16, 128, 199, 0.12) 0px 0px 0px 0px;
        
    }
    to {
        box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 5px, rgba(16, 128, 199, 0.12) 0px 0px 0px 10px;
        
    }
}

@media(max-width: 991.98px){
    #tool__society{
        bottom: 130px;
    }
}