figure.zoom {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: zoom-in;
}

figure.zoom img:hover {
    opacity: 0;
}

figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}