@import '../tools/variable.scss';
@import '../tools/mixin.scss';

a {
    text-decoration: none;
    color: $colorBack;

    &:hover {
        text-decoration: none;
        color: $colorGreen;
    }
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: "SVN-HelveticaNeue";
    font-weight: 300;
    font-size: 14px;
    color: $colorBack;
    line-height: 1.5em;
}

.container {
    max-width: 1200px;
}

.module__header {
    text-align: center;
    margin-bottom: 57px;

    .title {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.2em;
        font-weight: 700;

        span {
            color: $colorGreen;
        }

        &.line_left {
            position: relative;
            display: flex;
            align-items: center;

            &:before {
                content: '';
                display: inline-block;
                width: 70px;
                height: 1px;
                background-color: $colorDarkGray;
                margin-right: 30px;
            }
        }
    }

    .info {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1.6em;
        position: relative;
        padding-bottom: 3px;

        &:after {
            content: '';
            width: 160px;
            height: 1px;
            display: block;
            background-color: #a0a0a0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.btn {
    border: 1px solid #a0a0a0;
    font-size: 14px;
    color: $colorBack;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 0;

    &:hover {
        border-color: $colorGreen;
        color: $colorWhite;
        /*background-color: $colorGreen;*/
    }
}

.btn_2 {
    color: $colorGreen;
    text-transform: initial;
    padding: 0 10px;
    border: 1px solid $colorGreen !important;
    text-transform: uppercase;

    &:hover {
        color: $colorOrange;
        border-color: $colorOrange !important;
    }
}

.groups_box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .item {
        padding: 0 15px;
    }
}

.section {
    padding: 60px 0;
    overflow-x: hidden;

    &.section-features {
        padding: 0;
        margin: 60px 0;
    }

    &.section-testimonials {
        margin: 60px 0;
    }
}

.module__about_us {
    .module__header {
        margin-bottom: 24px;

        .title {
            font-size: 25px;
        }
    }

    .content {
        margin-bottom: 35px;
        text-align: center;
        line-height: 1.3em;
    }

    .button {
        text-align: center;
    }
}

.module__about_us_galary {
    .dg-container nav {
        position: initial;
    }

    .dg-icon {
        font-size: 40px;
        width: 20px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.dg-prev {
            left: 15px;
        }

        &.dg-next {
            right: 15px;
        }
    }
}

.service_item {
    .item_name {
        a {
            font-size: 20px;
            color: $colorGreen;
        }
    }
}

.module__services {
    .groups_box {
        margin: -15px;

        .item {
            width: calc(100% / 4);
            padding: 15px;
        }
    }

    .service_item {
        text-align: center;

        .item_image {
            border: 1px solid #a0a0a0;
            margin-bottom: 15px;
        }

        .item_content {
            text-align: left;
            line-height: 1.3em;
        }

        .item_name {
            margin-bottom: 12px;
        }
    }

    &.module__service__detail {
        .groups_box {
            .item {
                width: calc(100% / 3);
            }
        }
    }
}

.section-features {
    background-color: #333;
}

.module__features {
    .item {
        width: calc(100% / 3);
    }
}

.feature_item {
    text-align: center;
    color: #fff;
    padding: 20px 0;

    .item_image {
        margin-bottom: 17px;
        margin-top: 5px;
    }

    .item_name {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;

        span {
            display: block;

            ~span {
                font-size: 22px;
                margin-bottom: 0;
            }
        }

    }
}

.module__products {
    .item {
        width: calc(100% / 4);
    }

    .button {
        text-align: center;
    }

    .btn {
        padding: 9px 31px;
    }
}

.product_item {
    margin-bottom: 65px;

    .item_images {
        margin-bottom: 17px;
    }

    .item_name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 14px;

        a {
            color: $colorGreen;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
        }

        .item_create {
            color: $colorGray;
            font-size: 14px;
        }
    }

    .item_content {
        line-height: 1.2em;
        margin-bottom: 13px;
    }

    .item_price {
        color: $colorGray;
        font-size: 14px;
    }

    .item_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.tab_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;

    ul {
        padding-left: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0 -30px;
    }

    li {
        list-style: none;
        padding: 0 30px;
        margin-top: 2rem;
    }

    a {
        border-bottom: 2px solid $colorWhite;
        padding-bottom: 2px;

        &:hover,
        &.active {
            color: $colorGreen;
            border-bottom-color: $colorGreen;
        }
    }

    .module__header {
        margin-bottom: 0;
    }

    .tab_about_us {
        justify-content: center;
        width: 100%;

        li {
            padding: 0;
        }

        a {
            padding: 0 30px 10px;
            border-bottom-color: #000;
            font-size: 20px;

            &:hover,
            &.active {
                border-bottom-color: $colorGreen;
            }
        }
    }
}

.module__tab_about_us {
    position: relative;
    z-index: 9;
    margin-top: 5rem;

    .tab_header {
        margin-bottom: 0;
    }
}

.tab_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;

    &.active {
        position: relative;
        opacity: 1;
        visibility: initial;
    }
}

.section-testimonials {
    background-image: url(../images/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 0;
}

.module__testimonials {
    .module__header {
        margin-bottom: 22px;
        padding-top: 5px;
    }

    .title {
        color: $colorWhite;
    }
}

.testimonial_item {
    color: $colorWhite;
    text-align: center;

    .item_name {
        font-size: 20px;
        margin-bottom: 18px;

        span {
            display: block;

            ~span {
                font-size: 14px;
            }
        }
    }

    .item_content {
        line-height: 1.2em;
    }

    .item_images {
        .image {
            width: 150px;
            height: 150px;
            border: 1px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 10px;
        }
    }
}

.slick_testimonials {
    padding: 0 200px;
}

.slick-arrow {
    font-size: 40px;
    color: #edecec;
    z-index: 9;
    width: auto;
    height: auto;

    &:hover {
        color: $colorGreen;
    }

    &:before {
        display: none;
    }

    &.slick-prev {
        left: 0;
    }

    &.slick-next {
        right: 0;
    }
}

.slick-slide img {
    width: 100%;
}

.module__blogs {
    .groups_box {
        margin: 0 -15px;

        .item {
            width: calc(100% / 3);
            padding: 0 15px;
        }
    }

    .button {
        text-align: center;
    }

    .btn {
        padding: 9px 31px;
    }

    &.module__blogs__list {
        .groups_box {
            margin: -30px -15px;

            .item {
                padding: 30px 15px;
            }
        }

        .blog_item {
            margin-bottom: 0;
        }
    }

    &.module__blog__detail {
        .module__header {
            text-align: left;
            margin-bottom: 25px;

            .item_admin,
            .item_create {
                color: $colorGray;
                font-size: 14px;
                display: flex;
                align-items: center;

                .icon {
                    margin-right: 15px;
                    font-size: 30px;
                }
            }

            .item_admin {
                margin-bottom: 8px;
            }
        }

        .module__content {
            line-height: 1.3em;
            margin-bottom: 30px;
        }
    }
}

.blog_item {
    margin-bottom: 65px;

    .item_contents {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .item_create {
        background-color: $colorGreen;
        color: $colorWhite;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding: 8px 4px;
        width: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            margin-bottom: 0;
        }

        span {
            display: block;
            font-size: 9px;
            font-weight: 300;
        }
    }

    .item_name {
        padding-right: 15px;
        width: calc(100% - 70px);
        margin-bottom: 0;

        a {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.module__blogs__relate {
    .module__header {
        text-align: left;
    }
}

.slick_blogs_relate,
.slick_blogs {
    margin: 0 -15px;

    .item {
        padding: 0 15px;
    }

    .slick-arrow {
        color: #000;

        &.slick-prev {
            left: -25px;
        }

        &.slick-next {
            right: -25px;
        }
    }
}

.section-contacts {
    .module__header {
        text-align: left;
        margin-bottom: 15px;
    }

    .title {
        font-size: 25px;
        font-weight: 300;
    }

    .module__address {
        .module__content {
            ul {
                font-size: 16px;
                padding-left: 0;
            }

            li {
                list-style: none;
                margin-bottom: 12px;

                &.working_day {
                    span {
                        text-transform: uppercase;
                    }
                }

                &.work_time {
                    text-transform: uppercase;
                    display: flex;

                    >div {
                        &:after {
                            content: '/';
                            display: inline-block;
                            margin: 0 5px 0 2px;
                        }

                        &:last-child:after {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            label {
                margin-bottom: 0;
                font-weight: 700;
            }
        }
    }

    .module__contacts {
        // .module__header {
        //     margin-bottom: 20px;
        // }

        .footer__title {
            font-size: 25px;
            margin-bottom: 20px;
        }

        // .groups_box {
        //     .form-group {
        //         width: 50%;
        //         padding: 0 15px;
        //         margin-bottom: 20px;
        //     }
        // }
        .footer__form {
            .form-group {
                margin-bottom: 20px;
                input, textarea {
                    border-color: #666;
                    font-size: 14px;
                    color: #000;
                    height: 35px;
                }
                textarea {
                    height: 100px;
                }
            }
            .btn__save {
                background: #005847;
                color: #fff;
                padding: 5px 10px;
            }
        }
    }
}

.form-content {
    .form-control {
        border-color: $colorGray;
        height: 35px;
        border-radius: 2px;
        font-size: 14px;
        color: #000;

        &::placeholder {
            color: rgb(78, 78, 78);
        }
    }

    textarea.form-control {
        height: 100px;
    }

    .fr-error {
        color: #ff0000;
        display: none;
    }

    .btn {
        padding: 5px 20px;
    }
}

.section-breadcrumbs {
    padding: 45px 0 0;

    .title,
    .module__header {
        margin-bottom: 0;
    }
}

.module__maps {
    iframe {
        width: 100%;
        height: 500px;
    }
}

.art-comments iframe {
    width: 100% !important;
}

.module__contacts_services {
    .btn {
        background-color: #363636;
        border-color: #363636;
        border-radius: 20px;
        color: #fff;

        &:hover {
            background-color: $colorGreen;
            border-color: $colorGreen;
        }
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px
    }
}

a {
    &:hover {
        text-decoration: none
    }

    &:focus {
        outline: 0
    }
}

.btn {
    padding: 0;
    display: inline-block;
    background: transparent;
    min-width: 100px;
    white-space: nowrap;
    border: 0;

    &:hover {
        transition: all .3s;
        opacity: .8
    }

    &:foucs {
        outline: 0
    }

    &.btn--green-line {
        color: $colorGreen !important;
        border-color: $colorGreen !important;
    }

    &.btn--green {
        background-color: $colorGreen !important;
        color: $colorWhite !important;
    }
}

li,
ul {
    list-style-type: none
}

.text__error {
    color: red;
    font-size: 1.4rem;
    margin-bottom: 0
}

.choosethefloor,
.homecustomer,
.homeService,
.page__car,
.pageproduct,
.pageProductDetai,
.samekind,
.section__page,
.section__porduct {
    .module {
        .module__header {
            margin-bottom: 5rem;

            .title {
                text-align: center;
                text-transform: uppercase;
                color: $colorGreen;
                font-size: 3rem;
                margin-bottom: 0;
            }
        }
    }
}

.aboutUs,
.homecustomer,
.homeService,
.pageProductDetail,
.samekind {
    .module {
        .module__content {
            .slick-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                padding: 0;
                font-size: 3rem;
                min-width: auto;
                outline: 0;

                color: #818181;

                &.next__arrow {
                    right: -11%
                }

                &:prev__arrow {
                    left: -11%
                }

                &:focus {
                    box-shadow: unset
                }
            }
        }
    }
}

.choosethefloor,
.section__porduct,
.section-banner,
.section-products,
.section-blogs,
.section-services {
    .module {
        .module__content {
            .btn {
                &.btn__view {
                    color: $colorBack;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    border: 1px solid $colorGray;
                    border-radius: 0;
                    height: 3.5rem;
                    line-height: 3.5rem;

                    margin-bottom: 5rem;

                    &:hover {
                        border-color: $colorOrange;
                        color: $colorOrange;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


.section__page {
    padding: 5rem 0;

    .module {
        .module__header {
            margin-bottom: 0;

            .title {
                color: $colorBack;
                font-weight: 700;
                margin: 0
            }
        }
    }
}

.choosethefloor,
.section__porduct {
    .module {
        .control {
            .bs-tab {
                .tab-control {
                    border-bottom: 0;

                    .control-list {
                        margin: 0;
                        padding: 0;

                        &:before {
                            display: none;
                        }

                        .control-list__item {
                            min-width: unset;
                            border-radius: 0;
                            box-shadow: unset;
                            border: unset;
                            color: $colorBack;
                            font-weight: unset;
                            position: relative;
                            margin-left: 3rem;

                            &::after {
                                transition: all .2s;
                                content: "";
                                @include absolute($dir: "left__center");
                                bottom: 0;
                                width: 0;
                                height: 1px;
                                background: $colorGreen;
                            }

                            &.active,
                            &:hover {
                                background: unset;
                                border: unset;
                                color: $colorGreen;

                                &::after {
                                    transition: all .2s;
                                    width: 50%
                                }
                            }
                        }
                    }
                }
            }
        }


        .module__header {
            @include flexbox($justify: space-between, );
            margin-bottom: 3rem;

            .title {
                position: relative;
                padding-left: 10rem;
                margin-bottom: 0;

                &:before {
                    content: "";
                    @include absolute($dir: "top__center");
                    left: 0;
                    max-width: 70px;
                    width: 100%;
                    height: 2px;
                    background-color: $colorDarkGray;
                }
            }
        }

        .module__content {
            .bs-tab {
                .tab-content {
                    padding-top: 0
                }
            }
        }
    }
}

//pagenavi
.wp-pagenavi {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 30px;
    a, span {
        width: 3rem;
        height: 3rem;
        padding: 0;
        text-align: center;
        line-height: 3rem;
        border-radius: 0.2rem;
        display: inline-block;
        border-color: $colorGreen;
        color: $colorGreen;
    }
    span.current {
        background: $colorGreen;
        color: $colorWhite;
        border-color: $colorGreen;
    }
    a:hover, span:hover {
        background: $colorGreen;
        color: $colorWhite;
        border-color: $colorGreen;
    }
}





.pagination {
    justify-content: flex-end;
    margin-bottom: 5rem;

    li {
        margin: 2px;
        float: left;

        &.active,
        &:hover {
            a, span {
                background: $colorGreen;
                color: $colorWhite;
            }
        }
        .current {
            background: $colorGreen;
            color: $colorWhite;
            font-weight: bold;
        }

        a, span {
            width: 3rem;
            height: 3rem;
            padding: 0;
            text-align: center;
            line-height: 3rem;
            border-radius: 0.2rem;
            display: inline-block;
            // border-color: $colorGreen;
            color: $colorGreen;
            border: 1px solid $colorGreen;
        }
    }
}